# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
src/__pycache__/
.idea/dbnavigator.xml
src/my_bt_case/__pycache__/
src/my_config/__pycache__/
src/my_dmm/__pycache__/
src/my_excel/__pycache__/
src/my_misc/__pycache__/
src/my_ssh/__pycache__/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
log_this.txt
test.xlsx
.idea/dictionaries/alexwang.xml
.idea/preferred-vcs.xml
src/my_pytest/__pycache__/
src/my_pytest/test_my_misc/__pycache__/
